<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OrdersMapper">

    <select id="selectAll" resultType="com.example.entity.Orders">
        select orders.*, user.name as userName from `orders`
        left join `user` on orders.user_id = user.id
        <where>
            <if test="orderNo != null"> and orders.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="userId != null"> and orders.user_id = #{userId}</if>
        </where>
        order by orders.id desc
    </select>

    <insert id="insert" parameterType="com.example.entity.Orders" useGeneratedKeys="true">
        insert into `orders`(id, order_no, rel_id, num, price, time, status, phone, address, user_id)
        values (#{id}, #{orderNo}, #{relId}, #{num}, #{price}, #{time}, #{status}, #{phone}, #{address}, #{userId})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Orders">
        update `orders` set order_no = #{orderNo}, rel_id = #{relId}, num = #{num}, price = #{price},
                          time = #{time}, status = #{status}, phone = #{phone}, address = #{address}, user_id = #{userId}
        where id = #{id}
    </update>

</mapper>
