<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ArticleMapper">

    <select id="selectAll" resultType="com.example.entity.Article">
        select article.*, user.name as userName, user.avatar as userAvatar from `article`
        left join `user` on article.user_id = user.id
        <where>
            <if test="title != null"> and title like concat('%', #{title}, '%')</if>
            <if test="userId != null"> and user_id = #{userId}</if>
        </where>
        order by article.id desc
    </select>

    <insert id="insert" parameterType="com.example.entity.Article" useGeneratedKeys="true">
        insert into `article`(id, title, img, description, time, user_id, content, views)
        values (#{id}, #{title}, #{img}, #{description}, #{time}, #{userId}, #{content}, #{views})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Article">
        update `article` set title = #{title}, img = #{img}, description = #{description}, time = #{time}, user_id = #{userId}, content = #{content}, views = #{views}
        where id = #{id}
    </update>

</mapper>
